body,html{
    height: 100%;
}

.form-control{
    margin-bottom: 15px;
}

img{
    height: 80px;
    width: 70px;
}

#msgError{
    color: red;
    margin-bottom: 10px;
}

.row{
    padding-top: 1em;
}

#menu{
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
}

#logo{
    height: 150px;
    width: 650px;   
}

#logo2{
    height: 130px;
    width: 450px;   
}

.btn[disabled]{
  opacity: 1;
}

#formLogin2{
    border: 15px;
    border-style: solid;
    border-width: 1px;
}

#txtUser{
    width: 450px; 
}
#txtSenha{
    width: 450px;
}

#labelDash{
    color: orangered;
}